@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define variables first */
:root {
  --purple: #AA00C8;
  --purple-light: #C933DD;
  --purple-dark: #8A00A3;
  --purple-alpha-10: rgba(170, 0, 200, 0.1);
  --purple-alpha-20: rgba(170, 0, 200, 0.2);
  --purple-alpha-50: rgba(170, 0, 200, 0.5);

  --cyan: #00EEFF;
  --cyan-light: #33F2FF;
  --cyan-dark: #00BFD1;
  --cyan-alpha-10: rgba(0, 238, 255, 0.1);
  --cyan-alpha-20: rgba(0, 238, 255, 0.2);
  --cyan-alpha-50: rgba(0, 238, 255, 0.5);

  --blue: #0800FF;
  --blue-light: #3933FF;
  --blue-dark: #0600CC;
  --blue-alpha-10: rgba(8, 0, 255, 0.1);
  --blue-alpha-20: rgba(8, 0, 255, 0.2);
  --blue-alpha-50: rgba(8, 0, 255, 0.5);

  --background: #0a0a0a;
  --text: rgba(255, 255, 255, 0.87);
  --text-secondary: var(--purple-light);
  --border: rgba(255, 255, 255, 0.1);

  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.05rem;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
  font-weight: bold;
}

h3 {
  font-size: 1.8em;
  font-weight: bold;
}

@media (max-width: 1600px) {
  h1 {
    font-size: 2.8em;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.6em;
    line-height: 1.1;
  }

  h3 {
    font-size: 1.3em;
    line-height: 1.1;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.4em;
    line-height: 1.1;
  }

  h3 {
    font-size: 1.1em;
    line-height: 1.1;
    font-weight: bold;
  }
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--blue-dark);
    background-color: #ffffff;
  }
  a:hover {
    color: var(--blue-light);
  }
}
